*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Custom properties */

:root {
  --ff-sans: 'Manrope', sans-serif;

  --clr-very-dark-grayish-blue: hsl(217, 19%, 35%);
  --clr-desaturated-dark-blue: hsl(214, 17%, 51%);
  --clr-grayish-blue: hsl(212, 23%, 69%);
  --clr-light-grayish-blue: hsl(210, 46%, 95%);
  --clr-white: #ffffff;

  --fw-reg: 500;
  --fw-bold: 700;

  --fs-body: 0.85rem;
  --fs-title: 1.05rem;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: var(--ff-sans);
  color: var(--clr-very-dark-grayish-blue);
  font-size: var(--fs-body);
  font-weight: var(--fw-reg);
  line-height: 1.6;
  background-color: var(--clr-light-grayish-blue);
}

img {
  max-width: 100%;
}

/* Typography */
.title {
  font-weight: var(--fw-bold);
  font-size: var(--fs-title);
}
.text {
  color: var(--clr-desaturated-dark-blue);
}
.author-name {
  font-weight: var(--fw-bold);
  font-size: var(--fs-body);
}
.article-date {
  color: var(--clr-grayish-blue);
}

/* Utility styles */
.container {
  margin: 0 auto;
  padding: 0 1.75em;
  max-width: 374px;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* SECTIONS */

.card {
  background-color: var(--clr-white);
  max-width: 365px;
  margin: 3em auto;

  border-radius: 1em;
}

.image-area {
  border-radius: 1em 1em 0 0;
  position: relative;
  height: 200px;
  overflow: hidden;
  object-fit: cover;
}
.image-area-img {
  position: absolute;
  top: -10%;
}

.copy-area {
  padding: 2em 2.3em 1.5em;
}

.content {
  margin-bottom: 2.5em;
}

.title {
  margin-bottom: 1em;
}

.author-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.avatar-picture {
  height: 50px;
}

.avatar-img {
  max-height: 100%;
  border-radius: 50%;
}

.author-details {
  margin-left: -3em;
}

.share-btn {
  border-radius: 50%;
  border: none;
  padding: 0.75em;
}

/* Footer */

.footer {
  padding: 1em 0;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* MEDIA QUERIES */
