*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Custom properties */

:root {
  --ff-sans: 'Manrope', sans-serif;

  --clr-very-dark-grayish-blue: hsl(217, 19%, 35%);
  --clr-desaturated-dark-blue: hsl(214, 17%, 51%);
  --clr-grayish-blue: hsl(212, 23%, 69%);
  --clr-light-grayish-blue: hsl(210, 46%, 95%);
  --clr-white: #ffffff;

  --fw-reg: 500;
  --fw-bold: 700;

  --fs-title: 1.05rem;
  --fs-body: 0.85rem;

  --fs-title-desktop: 1.15rem;
  --fs-body-desktop: 0.765rem;
  --fs-share-desktop: 0.7rem;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: var(--ff-sans);
  color: var(--clr-very-dark-grayish-blue);
  font-size: var(--fs-body);
  font-weight: var(--fw-reg);
  line-height: 1.6;
  background-color: var(--clr-light-grayish-blue);
}

img {
  max-width: 100%;
}

/* Typography */
.title {
  font-weight: var(--fw-bold);
  font-size: var(--fs-title);
}
.text {
  color: var(--clr-desaturated-dark-blue);
}
.author-name {
  font-weight: var(--fw-bold);
  font-size: var(--fs-body);
}
.article-date {
  color: var(--clr-grayish-blue);
}

/* Utility styles */
.container {
  margin: 0 auto;
  padding: 0 1.75em;
  max-width: 374px;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* SECTIONS */

.card {
  position: relative;
  background-color: var(--clr-white);
  max-width: 365px;
  margin: 3em auto;
  border-radius: 1em;
}

.image-area {
  border-radius: 1em 1em 0 0;
  position: relative;
  height: 200px;
  overflow: hidden;
}
.image-area-img {
  object-fit: cover;
  position: absolute;
  top: -10%;
}

.copy-area {
  padding: 2em 2.3em 1.5em;
  height: 328px;
}

.content {
  margin-bottom: 2.5em;
}

.title {
  margin-bottom: 1em;
}

.author-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.avatar-picture {
  height: 50px;
}

.avatar-img {
  max-height: 100%;
  border-radius: 50%;
}

.author-details {
  margin-left: -3em;
}

.share-btn {
  border-radius: 50%;
  border: none;
  padding: 0.75em;
}
.share-btn:hover {
  opacity: 0.6;
}

/* Share area */
.share-area {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-very-dark-grayish-blue);
  border-radius: 0 0 1em 1em;
  padding: 1em 2.25em;
  display: none;
}
.share-socials {
  display: flex;
  width: 60%;
  color: var(--clr-white);
  justify-content: space-between;
  margin-top: 0.3em;
}

.share-text {
  color: var(--clr-grayish-blue);
  letter-spacing: 0.2em;
  margin-right: 1em;
}

.fab {
  font-size: 1.25rem;
}

.fab:hover {
  opacity: 0.5;
}

.share-btn-dark {
  background-color: var(--clr-grayish-blue);
}

/* Footer */

.footer {
  padding: 1em 0;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* class helpers */

.visible {
  display: flex;
}

/* MEDIA QUERIES */
@media (min-width: 850px) {
  .container {
    max-width: 100%;
    height: 100vh;
  }
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 640px;
    height: 245px;
    margin: 0 auto;
  }

  .image-area {
    height: 100%;
    width: 38%;
    border-radius: 1em 0em 0 1em;
  }
  .image-area-img {
    object-position: 0% 100%;
    object-fit: cover;
    overflow: hidden;
    position: relative;
    top: inherit;
    height: 100%;
    width: 100%;
  }

  .copy-area {
    height: 100%;
    width: 62%;
    padding: 1.75em 2.6em 1em;
  }

  .content {
    margin-bottom: 0;
  }

  .title {
    font-size: var(--fs-title-desktop);
    line-height: 1.4;
    margin-bottom: 0.6em;
  }
  .text {
    font-size: var(--fs-body-desktop);
  }

  .author-area {
    margin-top: 1em;
    justify-content: left;
  }

  .avatar-picture {
    height: 35px;
  }

  .author-details {
    margin-top: 0.25em;
    margin-left: 1em;
  }

  .author-name {
    font-size: var(--fs-body-desktop);
  }

  .article-date {
    font-size: var(--fs-body-desktop);
  }
  .share-icon {
    margin-left: auto;
    margin-right: -0.5em;
  }

  .share-area {
    width: 225px;
    bottom: 85px;
    left: 500px;
    justify-content: space-between;
    padding: 1em 2em;
    border-radius: 1em;
    box-shadow: 3px 3px 3px 5px rgba(226, 233, 235, 0.5);
  }

  .share-socials {
    margin-left: 0.4em;
  }

  .social-icon {
    padding: 0 0.5em;
  }

  .share-text {
    font-size: var(--fs-share-desktop);
    letter-spacing: 0.4em;
    line-height: 2;
  }

  .share-btn-dark {
    display: none;
  }
}
